<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Experiment control panel</title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
	<h1>
		<%- experiment.name %>
	</h1>
	<p>
		<%- experiment.description %>
	</p>
	<% if (!experiment.started) { %>
		<form method="post" action="/experiments/start/<%= experiment.id %>">
			<button class="btn btn-primary" type="submit">To experiment control panel</button>
		</form>
	<% } %>
	<%- include('../messageQueue/device_list') %>
</body>
</html>