<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editing a pointset</title>
	<link rel="stylesheet" href="/bundles/pointset/edit/style.css">
	<%- include('../misc/bootstrap') %>
</head>
<body>
	<form action="" id = "updateForm">
		<label for="name">Name</label>
        <input type="text" name="name" value="<%= pointSet.name %>">
        <label for="description">Description</label>
        <input type="text" name="description" value="<%= pointSet.description %>"><br>
		<h2>Calibration points</h2>
		<h3>A</h3>
        x: <input type="number" name="calAx" value="<%= pointSet.calibration.A.x %>" id="cax" readonly><br>
        y: <input type="number" name="calAy" value="<%= pointSet.calibration.A.y %>" id="cay" readonly><br>
        z: <input type="number" name="calAz" value="<%= pointSet.calibration.A.z %>" id="caz" readonly><br>
        <button class="btn btn-secondary" type="button" id="aBtn">Set</button><br>
        <h3>B</h3>
		x: <input type="number" name="calBx" value="<%= pointSet.calibration.B.x %>" id="cbx" readonly><br>
        y: <input type="number" name="calBy" value="<%= pointSet.calibration.B.y %>" id="cby" readonly><br>
        z: <input type="number" name="calBz" value="<%= pointSet.calibration.B.z %>" id="cbz" readonly><br>
        <button class="btn btn-secondary" type="button" id="bBtn">Set</button><br>
        <h3>C</h3>
		x: <input type="number" name="calCx" value="<%= pointSet.calibration.C.x %>" id="ccx" readonly><br>
        y: <input type="number" name="calCy" value="<%= pointSet.calibration.C.y %>" id="ccy" readonly><br>
        z: <input type="number" name="calCz" value="<%= pointSet.calibration.C.z %>" id="ccz" readonly><br>
        <button class="btn btn-secondary" type="button" id="cBtn">Set</button><br>
		<input class="btn btn-primary" type="submit" value="Save changes"><br>
	</form>
	
	<br>
	<!-- Point panel -->
	<div id="pointPanel">
		<% 
			const size = Math.max((bounds.max.x - bounds.min.x), (bounds.max.y - bounds.min.y));
			const pad = 0.1*size;
			const fontSize = 1.9*size*radius;
		%>

		<!-- The SVG map of points -->
		<svg id="ptCanvas" viewBox = "<%= bounds.min.x-pad %> <%= bounds.min.y-pad %> <%= size+2*pad %> <%= size+2*pad %>">
			<!-- The selection rectangle -->
			<rect id="selection" x="<%= bounds.min.x %>" y="<%= bounds.min.y %>" fill="rgba(0,0,255,0.5)" width="600" height="600"></rect>
			<!-- The line for adding points, used in draw mode by line and rectangle modes -->
			<line id="drawieLine" stroke="black" stroke-width="0.25%"></line>
			<!-- Group that holds preview circles for the line and rectangle modes -->
			<g id="previewCircles"></g>

			<!-- Pre-existing points -->
			<% pointSet.points.forEach(point => { %>
				<g number="<%= point.pointNumber %>" class="point <%- !point.enabled?"disabledPt":"" %>">
					<circle number="<%= point.pointNumber %>" cx = "<%= point.x %>" cy = "<%= point.y %>" r = "<%= radius*size %>"></circle>
					<text class="svgtxt"
						font-size="<%= fontSize %>"
						x = "<%= point.x %>"
						y = "<%= point.y %>"
						number="<%= point.pointNumber %>"
						alignment-baseline="middle" text-anchor="middle">
						<%= point.pointNumber %>
					</text>
				</g>
			<% }); %>

			<!-- Calibration points -->
			<circle fill="brown" cx = "<%= pointSet.calibration.A.x %>" cy = "<%= pointSet.calibration.A.y %>" r = "<%= radius*size %>" ></circle>
			<text class="svgtxt" fill = "white" font-size="<%= fontSize %>" x = "<%= pointSet.calibration.A.x %>" y = "<%= pointSet.calibration.A.y %>" alignment-baseline="middle" text-anchor="middle">A</text>
			<circle fill="brown" cx = "<%= pointSet.calibration.B.x %>" cy = "<%= pointSet.calibration.B.y %>" r = "<%= radius*size %>" ></circle>
			<text class="svgtxt" fill = "white" font-size="<%= fontSize %>" x = "<%= pointSet.calibration.B.x %>" y = "<%= pointSet.calibration.B.y %>" alignment-baseline="middle" text-anchor="middle">B</text>
			<circle fill="brown" cx = "<%= pointSet.calibration.C.x %>" cy = "<%= pointSet.calibration.C.y %>" r = "<%= radius*size %>" ></circle>
			<text class="svgtxt" fill = "white" font-size="<%= fontSize %>" x = "<%= pointSet.calibration.C.x %>" y = "<%= pointSet.calibration.C.y %>" alignment-baseline="middle" text-anchor="middle">C</text>
			
			<!-- The location marker -->
			<circle id="locationMarker" cx = "0" cy = "0" fill = "green" r = "<%= radius*size * 0.6 %>"></circle>
		</svg>
		<br>
		<!-- Buttons for setting the line start and end points manually -->
		<button class="btn btn-primary" type="button" id="lineStartBtn">Set line start</button>
		<button class="btn btn-primary" type="button" id="lineEndBtn">Set line end</button>
		<br>
		
		<!-- Swapping between select and draw modes -->
		<input class="form-check-input" type="radio" name="dragmode" id="select" value="SELECT_MODE" checked>
		<label for="single">Select</label>
		<input class="form-check-input" type="radio" name="dragmode" id="draw" value="DRAW_MODE">
		<label for="line">Draw</label>

		<!-- Buttons for deleting and enabling/disabling points -->
		<button class="btn btn-danger" id="disableButton">Disable selected</button>
		<button class="btn btn-success" id="enableButton">Enable selected</button> <br>

		<!-- Radio buttons for selecting point adding mode -->
		<input class="form-check-input" type="radio" name="pointmode" id="single" value="single" checked>
		<label for="single">Single</label>
		<input class="form-check-input" type="radio" name="pointmode" id="line" value="line">
		<label for="line">Line</label>
		<input class="form-check-input" type="radio" name="pointmode" id="rectangle" value="rectangle">
		<label for="rectangle">Rectangle</label>

		<!-- div for adding points one at a time -->
		<div id="singleDiv">
			<button class="btn btn-primary" id="addSingle">Add single point</button>
		</div>
		
		<!-- div for adding points in a line -->
		<div id="lineDiv">
			<label for="lineCount">Point count</label>
			<input type="number" name="linePointCount" id="lineCount">
			<button class="btn btn-primary" type="button" id="lineCreateBtn">Add</button>
		</div>

		<!-- div for adding points in a rectangle -->
		<div id="rectangleDiv">
			<label for="rectLengthPointCount">Length point count</label>
			<input type="number" name="lineHeightPointCount" id="rectLengthPointCount">
			<label for="rectWidthPointCount">Width point count</label>
			<input type="number" name="lineWidthPointCount" id="rectWidthPointCount">
			<button class="btn btn-primary" type="button" id="rectangleCreateBtn">Add</button>
		</div>
	</div>
	

	<!-- The script that initializes the pointset editing -->
	<script type="module">
		import { init, transformMatrix } from '/bundles/pointset/edit/bundle.js';
		const points = [
			<% pointSet.points.forEach(point => { %>
				<%- JSON.stringify({x: point.x, y: point.y, z: point.z}, '') %>,
			<% }); %>
		];
		const id = <%= pointSet.id %>
		const calibration = JSON.parse('<%- JSON.stringify(pointSet.calibration); %>');
		const ptRadius = <%= radius*size %>
		console.log(calibration);
		init(id, calibration, ptRadius);
	</script>

</body>
</html>