<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- pointSet.name %></title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
	<h1><%- pointSet.name %></h1>
	<p><%- pointSet.description %></p>
	<a href="/points/<%= pointSet.id %>/edit"><button type="button">Edit</button></a>
	
</body>
</html>